<%- include('includes/head') %>
<%- include('includes/nav') %>

<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8 my-3">
      <h1 class="text-center">Faça Login ou crie sua conta abaixo</h1>

      <div class="col-lg-2"></div>
        <div class="">
          <div class="text-center">
            <h4 class="text-center">Faça seu login</h4>
            <form action="/login/login" method="post">
              
              <div class="mb-3">
                <h5 for="exampleFormControlInput1" class="form-label">Email</h5>
                <input type="email" class="form-control" name="email" placeholder="nome@exemplo.com">
              </div>
              <div class="row g-3 align-items-center">
                <div class="col-auto">
                  <label for="inputPassword6" class="col-form-label">Senha</label>
                </div>
                <div class="col-auto">
                  <input type="password" class="form-control" placeholder="Senha de 3 a 20 caracteres" name="senha">
                </div>
                <div class="col-auto">
                  <button type="submit" name="btn-login" class="btn btn-primary">Login</button>
                </div>
                <div class="col-auto">
                  <a href="/register" class="btn btn-secondary">Criar Conta</a>
                </div>
              </div>
              <input type="hidden" name="_csrf" value=<%= csrfToken %>
            </form>
            
        </div>
    
    <div class="col-lg-2"></div>
  </div>
</div>

<%- include('includes/footer') %>
